/*etiquta, id, clase*/
*{
	border: 0;
	margin: 0;
	padding: 0;

}

body{
	 /*nombre delcolor, #arg*/
	
	/*background-color: #084B8A;*/
	/*color: #DF7401;*/
	text-align: center;/*Indicar la posicion del tecxto*/ 
}

h1{
	background-color: #DF7401;
	color: white;
	border: 10px solid white;
font-size: 3em; /*Aumenta el tamaño del encabezado*/
margin: 0.5em; /*Separa el titulo con los demas textos*/
}

ul{
	width: 100%;
	
}
ul li{
	background-color: #084B8A;
	border: 1px solid white;/*color borde*/
color: white ;
color: white;
list-style: none;
	display: inline-block;/*Indicar que se pueda visualizar, lo ordena*/
	font-size: 1.2em; /*aumento del border*/
	padding: 0.5em;/*Para el tamaño de borde*/
	width: 23%;
}
a{
	text-decoration: none;/*Quita subrayado de links*/
}
ul li:hover,.seleccionado{
	border-radius: 16px;
	color: white;
	/*border: dotted;*//*Hace que se extienda el borde*/
	background-color: #DF7401; /*Le agrga color a las pestañas*/
	transition: 0.2s;/*Tiempo de animacion*/

}
section {
	margin-top: 2em;
	width: 100% ;
}
section article {
	background-color: white;
	display: inline-block;
	width: 60% 

}

section aside {
	background-color: white;
min-height: 530px;
	display: inline-block;
	vertical-align: top;
	width: 30% 
}

section img{
	max-width: 100%;
}
 footer{
 	background-color: #BDBDBD;/*Color del correo*/
 	box-sizing: border-box;
 	font-weight: bold;
 	color: #000000;
 	padding: 2em;
 	width: 100;
 }

 /*section#Gal{
 	background-color: rgb(70,100,200);
width: 100%;
}*/
article.Galeria{/*Clasifica las imagenes*/
	background-color:white ;

color: black;
cursor: pointer;
display: inline-block;
margin: 1em;
width: 28%;
}

article.Galeria img:hover{/*para tranparencia de mouse*/
	opacity: 0.7;
	transform: 2s;
}

article.Galeria img{
width:  200;

}


	/*encierra a las imagenes en  un cuadro*/
/*article.Galeria img{    
border-radius: 10px;
max-height: 100px;
max-width: 90%;
}*/
p#Ima3{

	color: blue;

}



form{
	background-color: silver;
	border-radius: 20px;/*Redondea color*/
	color: black;
	font-size: 1.5em;/*Aumenta tamaño letra*/
	margin: 2em auto;/*Cemtrado arriba y abajo*//*Espacio externo*/
padding: 1em;/*Espacio interni*/
	width: 60%;/*Izquiera derecha*/


}


form input{
	font-size: 1em;
	margin: 0.2;
}

form input[type="submit"]{
background-color: #44f;
border-radius: 4px;
color: white;
cursor: pointer;
padding: 0.3em;

}
